.container {
  height: 100vh;
  background: #fffaf0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.teddy-jump {
  width: 220px;
  animation: jump 1s infinite;
}

@keyframes jump {
  0% { transform: translateY(0); }
  50% { transform: translateY(-18px); }
  100% { transform: translateY(0); }
}

.teddy-hug {
  width: 260px;
}

h1 {
  color: #8b4513;
  margin: 20px 0;
}
.btn-area {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.yes {
  padding: 12px 26px;
  font-size: 18px;
  background: #ff69b4;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.no {
  position: relative;  
  padding: 12px 26px;
  font-size: 18px;
  background: #d3d3d3;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}
